ApplicationProgrammingInterfaceMapping.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://developer.att.com/ApplicationProgrammingInterfaceMapping" elementFormDefault="qualified">
	<xs:complexType name="api-catalog-mapping">
		<xs:sequence>
			<xs:element name="group" type="xs:string" minOccurs="1" />
			<xs:element name="category" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>