ErrorBrief.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:erapi="http://developer.att.com/ErrorNumber" targetNamespace="http://developer.att.com/ErrorBrief" elementFormDefault="qualified">
	<xs:import namespace="http://developer.att.com/ErrorNumber" schemaLocation="ErrorNumber.xsd" />
	<xs:complexType name="ErrorBrief">
		<xs:sequence>
			<xs:element name="ErrorNumber" type="erapi:ErrorNumberType" minOccurs="1" />
			<xs:element name="title" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>